{% extends 'base.html.twig' %}

{% block title %}Détail du livre{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{book.cover}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{book.isbn}}</div>
                <h1 class="display-5 fw-bolder">{{book.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>
                        Auteurs: 
                        {% for author in book.authors %}
                            {{ author.name }}
                        {% endfor %}
                    </span>
                    <br>
                    <span>Éditeur: {{book.editor.name}}</span>
                    <br>
                    <span>Pages: {{book.pageNumber}}</span>
                    <br>
                    <span>{{book.editedAt|date('d M Y')}}</span>
                    <br>
                    <span>Statut: {{book.status.getLabel}}</span>
                </div>
                <p class="lead">{{book.plot}}</p>
                <a href="{{ path('app_book') }}" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}